.App, h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-image{
  align-content: center;
}

.card{
  align-content: center;
  max-width: 500px;
  height: max-content;
  margin: 30px auto;

}

.button{
  align-content: center;
}

.row{
  align-content: center;
}

.select{
  background-color: aqua;
}
